<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>{{ title }}</title>
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/registration">Registration page</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}

</body>

</html>