{% include 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/registration.css') }}">
{% endblock %}

<div id="from">
    <input type="text" name="login" id="login" placeholder="Enter your login">
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <div id="button" onclick="registrationData()">Registration</div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='scripts/registration.js') }}"></script>
{% endblock %}